.footer-container{
    margin-top: 10rem;
    padding-top: 2.5rem;
    text-align: center; /* Center the text inside the button */
    align-content: center;
    background-color: var(--white-color);
    color: var(--black-color);
  }
  .footer-nav a {
    color: var(--primary-color);
    text-decoration: none; /* Remove underline if desired */
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
    padding-right: 3.75rem;
    padding-left: 2.5rem;
    line-height: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
  }
  .footer-nav a:hover{
    color: var(--black-color); /* Change color on hover for effect */
    text-decoration: underline; /* Add underline on hover if desired */
  }
  .footer-bottom{
    color: var(--black-color);
    background-color: var(--white-color);
    text-align: center; /* Center the text inside the button */
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    margin-top: 3rem;
    padding-bottom: 1.25rem;
  }
  
  .social-links a img {
    max-width: 2rem;  /* Ensure image is not larger than 50px */
    max-height: 2rem; /* Ensure image is not larger than 50px */
    object-fit: contain; /* Preserve aspect ratio */
  }
  .custom-hr {
    height: 1px;
    background-color: var(--white-color);
  }
  @media (max-width: 1000px) {
    .footer-nav a {
      padding: 1rem;
      font-size: 0.9rem;
    }
  }